:root {
    --delft-blue: #1d3461ff;
    --polynesian-blue: #1f487eff;
    --lapis-lazuli: #376996ff;
    --silver-lake-blue: #6290c8ff;
    --vista-blue: #829cbcff;
}


#app {
    display: flex;
}

#right-container,
#left-container {
    display: flex;
    background-color: var(--delft-blue);
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
}

#watchlist {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: 70%;
    width: 90%;
    margin-top: 80px;
}

.btn {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--polynesian-blue);
    cursor: pointer;
}

#submitBtn {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 35px;
}

.input {
    border-radius: 10px;
    border: none;
}

#searchBar {
    text-align: center;
    margin-top: 30px;
    height: 50px;
    width: 400px;
    font-size: 35px;
}
