:root {
    --delft-blue: #1d3461ff;
    --polynesian-blue: #1f487eff;
    --lapis-lazuli: #376996ff;
    --silver-lake-blue: #6290c8ff;
    --vista-blue: #829cbcff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .7;
    }
}

img {
    height: 200px;
    width: 200px;
    
}

.editField {
    display: flex;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    margin-top: 30px;
    text-align: center;
    font-family: teko;
    color: var(--delft-blue);
}

body {
    font-family: teko;
}

#top {
    background-color: rgba(29, 52, 97, 0.95);;
    height: 90px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2s ease-in-out;
    transition: backgorund-color 2s ease, color 2s ease;
}


#searchContainer {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-right: 50px;
}

#siteName {
    color: white;
    font-size: 70px;
    margin-top: 10px;
    margin-left: 50px;
}

.subBtn {
    background-color: var(--silver-lake-blue);
    border: none;
    height: 40px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.subBtn:active {
    background-color: var(--lapis-lazuli);
}

#getLists {
    margin-bottom: 20px;
    margin-top: -30px;
    height: 50px;
    width: 40%;
    cursor: pointer;
    background: var(--silver-lake-blue);
    border: none;
    border-radius: 10px;
    color: white;
}

#getLists:active {
    background-color: var(--polynesian-blue);
}

#burst {
    color: var(--silver-lake-blue);
    font-style: italic;
    font-size: 90px;
    text-shadow: -5px 0px 1px white;
}

.searchers {
    height: 40px;
    width: 200px;
    border: 2px solid var(--silver-lake-blue);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
    height: 100%;
    margin-right: 20px;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}


#LeftContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255, .8);
    animation: fadeIn 2s ease-in-out;
    transition: backgorund-color 2s ease, color 2s ease;
}

#MidContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px 10px;
}

#RightContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px 10px;
}

.container {
    height: 700px;
    width: 32%;
    overflow: auto;
}

.showDisplay {
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: rgb(255, 255, 255, .8);
    color: var(--delft-blue);
    text-align: center;
    font-size: 15px;
    animation: fadeIn 1s ease-in-out;
    transition: backgorund-color 1s ease, color 1s ease;
    align-items: center;
}

.showDisplay:hover {
    background-color: var(--delft-blue);
    color: white;
    cursor: pointer;
}

#header {
    color: var(--delft-blue);
    animation: fadeIn 2s ease-in-out;
    transition: background-color 2s ease-in-out, color 2s ease-in-out;
    margin-bottom: -50px;
    margin-top: 0px;
}

#edtdlt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.edt {
    border: none;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#listName {
    font-size: 50px;
}

#showSummary {
    font-size: 20px;
    margin-top: -20px;
}

#edit{
    background-color: blue;
    color: white;
}

#delete {
    background-color: crimson;
    color: white
}

#watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    height: 70%;
    width: 80%;    
    animation: fadeIn 2s ease-in-out;
    transition: background-color 2s ease-in-out, color 2s ease-in-out;
    background-color: rgb(255, 255, 255, 0);
}

#watchlistName {
    color: var(--delft-blue);
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid var(--delft-blue);
    animation: fadeIn 2s ease-in-out;
    transition: background-color 2s ease-in-out, color 2s ease-in-out;
}

.listInput {
    margin-top: 25px;
    width: 70%;
    height: 30px;
    background-color: var(--polynesian-blue);
    border: none;
    border-radius: 7px;
    font-family: teko;
    font-weight: bold;
    color: white;
    text-align: center;
}

.listDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, .8);
    font-size: 12px;
    color: var(--delft-blue);
    border-bottom: 1px solid;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    transition: backgorund-color 1s ease, color 1s ease;
}

.listDisplay:hover {
    background-color: var(--delft-blue);
    color: white;
}

#createBtn {
    background-color: var(--silver-lake-blue);
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    cursor: pointer;
}

#createBtn:active {
    background-color: var(--lapis-lazuli);
}

.toastError {
    height: 60px;
    width: 200px;
    font-size: 30px;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track (the area behind the scrollbar) */
  ::-webkit-scrollbar-track {
    background: clear;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: var(--delft-blue);
  }
  

